*.so.* filter=lfs diff=lfs merge=lfs -text
*.dae filter=lfs diff=lfs merge=lfs -text
*.obj filter=lfs diff=lfs merge=lfs -text
*.stl filter=lfs diff=lfs merge=lfs -text
*.usd filter=lfs diff=lfs merge=lfs -text
*.dae !text !filter !merge !diff
*.obj !text !filter !merge !diff
*.stl !text !filter !merge !diff
*.usd !text !filter !merge !diff
*.so.* !text !filter !merge !diff
