<?xml version='1.0' encoding='utf-8'?>
<robot name="robot8">
  <link name="pelvis_link">
    <inertial>
      <origin xyz="0.0050096000 0.0001310000 0.0224231000" rpy="0 0 0" />
      <mass value="4.6550403000" />
      <inertia ixx="0.0418571000" ixy="0.0000015000" ixz="0.0002216000" iyy="0.0082535000" iyz="0.0000532000" izz="0.0404889000" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/pelvis_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/pelvis_link.STL" />
      </geometry>
    </collision>
  </link>
  <link name="right_hip_pitch_link">
    <inertial>
      <origin xyz="0.0031702000 -0.0726655000 -0.0754436000" rpy="0 0 0" />
      <mass value="2.4581201000" />
      <inertia ixx="0.0057350000" ixy="0.0000210000" ixz="0.0000194000" iyy="0.0044463000" iyz="-0.0006162000" izz="0.0038313000" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/right_hip_pitch_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/right_hip_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="right_hip_pitch_joint" type="revolute">
    <origin xyz="0.0074336 -0.11245 0.0042898" rpy="0.5236 0 0" />
    <parent link="pelvis_link" />
    <child link="right_hip_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-1" upper="0.5" effort="96" velocity="15" />
  </joint>
  <link name="right_hip_roll_link">
    <inertial>
      <origin xyz="-0.0301143000 0.0001565000 -0.1048433000" rpy="0 0 0" />
      <mass value="1.9595703000" />
      <inertia ixx="0.0049844000" ixy="-0.0000002000" ixz="0.0001237000" iyy="0.0053331000" iyz="0.0000059000" izz="0.0033681000" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/right_hip_roll_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/right_hip_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="right_hip_roll_joint" type="revolute">
    <origin xyz="0.0295 -0.07681 -0.080942" rpy="-0.5236 0 0" />
    <parent link="right_hip_pitch_link" />
    <child link="right_hip_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-0.5" upper="0.5" effort="96" velocity="15" />
  </joint>
  <link name="right_hip_yaw_link">
    <inertial>
      <origin xyz="0.0001373000 0.0027403000 -0.0634717000" rpy="0 0 0" />
      <mass value="0.6214370000" />
      <inertia ixx="0.0025508000" ixy="0.0000002000" ixz="-0.0000048000" iyy="0.0022719000" iyz="0.0000446000" izz="0.0015338000" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/right_hip_yaw_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/right_hip_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="right_hip_yaw_joint" type="revolute">
    <origin xyz="-0.0295 0 -0.1463" rpy="0 0 0" />
    <parent link="right_hip_roll_link" />
    <child link="right_hip_yaw_link" />
    <axis xyz="0 0 1" />
    <limit lower="-0.5" upper="0.5" effort="48" velocity="20" />
  </joint>
  <link name="right_knee_link">
    <inertial>
      <origin xyz="-0.0034760000 0.0341994000 -0.1277020000" rpy="0 0 0" />
      <mass value="6.0744098000" />
      <inertia ixx="0.1139653000" ixy="-0.0000479000" ixz="-0.0032670000" iyy="0.1172843000" iyz="0.0011307000" izz="0.0089838000" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/right_knee_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/right_knee_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="right_knee_joint" type="revolute">
    <origin xyz="0 -0.032 -0.12269" rpy="0 0 0" />
    <parent link="right_hip_yaw_link" />
    <child link="right_knee_link" />
    <axis xyz="0 1 0" />
    <limit lower="-0.5" upper="1" effort="96" velocity="15" />
  </joint>
  <link name="right_ankle_pitch_link">
    <inertial>
      <origin xyz="0.0096257000 0.0000000000 -0.0359525000" rpy="0 0 0" />
      <mass value="0.8610175000" />
      <inertia ixx="0.0007453000" ixy="-0.0000000000" ixz="0.0002534000" iyy="0.0026110000" iyz="-0.0000000000" izz="0.0023224000" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/right_ankle_pitch_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/right_ankle_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="right_ankle_pitch_joint" type="revolute">
    <origin xyz="-5.1941E-05 0.035 -0.4435" rpy="0 0 0" />
    <parent link="right_knee_link" />
    <child link="right_ankle_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-0.5" upper="0.5" effort="29" velocity="50" />
  </joint>
  <link name="right_ankle_roll_link">
    <inertial>
      <origin xyz="0.0096257000 0.0000000000 -0.0359525000" rpy="0 0 0" />
      <mass value="0.8610175000" />
      <inertia ixx="0.0007453000" ixy="-0.0000000000" ixz="0.0002534000" iyy="0.0026110000" iyz="-0.0000000000" izz="0.0023224000" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/right_ankle_roll_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.866666666666667 0.909803921568627 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/right_ankle_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="right_ankle_roll_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="right_ankle_pitch_link" />
    <child link="right_ankle_roll_link" />
  </joint>
  <link name="left_hip_pitch_link">
    <inertial>
      <origin xyz="0.0034258000 0.0726933000 -0.0752466000" rpy="0 0 0" />
      <mass value="2.4524184000" />
      <inertia ixx="0.0057085000" ixy="-0.0000220000" ixz="0.0000074000" iyy="0.0044470000" iyz="0.0006125000" izz="0.0038262000" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/left_hip_pitch_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/left_hip_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="left_hip_pitch_joint" type="revolute">
    <origin xyz="0.0074336 0.11245 0.0042898" rpy="-0.5236 0 0" />
    <parent link="pelvis_link" />
    <child link="left_hip_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-1" upper="0.5" effort="96" velocity="15" />
  </joint>
  <link name="left_hip_roll_link">
    <inertial>
      <origin xyz="-0.0301143000 0.0001565000 -0.1048433000" rpy="0 0 0" />
      <mass value="1.9595703000" />
      <inertia ixx="0.0049844000" ixy="-0.0000002000" ixz="0.0001237000" iyy="0.0053331000" iyz="0.0000059000" izz="0.0033681000" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/left_hip_roll_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/left_hip_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="left_hip_roll_joint" type="revolute">
    <origin xyz="0.0295 0.07681 -0.080942" rpy="0.5236 0 0" />
    <parent link="left_hip_pitch_link" />
    <child link="left_hip_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-0.5" upper="0.5" effort="96" velocity="15" />
  </joint>
  <link name="left_hip_yaw_link">
    <inertial>
      <origin xyz="0.0001373000 -0.0027403000 -0.0634717000" rpy="0 0 0" />
      <mass value="0.6214370000" />
      <inertia ixx="0.0025508000" ixy="-0.0000002000" ixz="-0.0000048000" iyy="0.0022719000" iyz="-0.0000446000" izz="0.0015338000" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/left_hip_yaw_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/left_hip_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="left_hip_yaw_joint" type="revolute">
    <origin xyz="-0.0295 0 -0.1463" rpy="0 0 0" />
    <parent link="left_hip_roll_link" />
    <child link="left_hip_yaw_link" />
    <axis xyz="0 0 1" />
    <limit lower="-0.5" upper="0.5" effort="48" velocity="20" />
  </joint>
  <link name="left_knee_link">
    <inertial>
      <origin xyz="-0.0031727000 -0.0363222000 -0.1286285000" rpy="0 0 0" />
      <mass value="6.0791576000" />
      <inertia ixx="0.1156379000" ixy="0.0000354000" ixz="-0.0031063000" iyy="0.1189201000" iyz="-0.0010733000" izz="0.0089272000" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/left_knee_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/left_knee_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="left_knee_joint" type="revolute">
    <origin xyz="0 0.034125 -0.1227" rpy="0 0 0" />
    <parent link="left_hip_yaw_link" />
    <child link="left_knee_link" />
    <axis xyz="0 1 0" />
    <limit lower="-0.5" upper="1" effort="96" velocity="15" />
  </joint>
  <link name="left_ankle_pitch_link">
    <inertial>
      <origin xyz="0.0096257000 0.0000000000 -0.0359525000" rpy="0 0 0" />
      <mass value="0.8610175000" />
      <inertia ixx="0.0007453000" ixy="-0.0000000000" ixz="0.0002534000" iyy="0.0026110000" iyz="-0.0000000000" izz="0.0023224000" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/left_ankle_pitch_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/left_ankle_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="left_ankle_pitch_joint" type="revolute">
    <origin xyz="0 -0.036877 -0.4435" rpy="0 0 0" />
    <parent link="left_knee_link" />
    <child link="left_ankle_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-0.5" upper="0.5" effort="29" velocity="50" />
  </joint>
  <link name="left_ankle_roll_link">
    <inertial>
      <origin xyz="0.0096257000 0.0000000000 -0.0359525000" rpy="0 0 0" />
      <mass value="0.8610175000" />
      <inertia ixx="0.0007453000" ixy="-0.0000000000" ixz="0.0002534000" iyy="0.0026110000" iyz="-0.0000000000" izz="0.0023224000" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/left_ankle_roll_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.866666666666667 0.909803921568627 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/left_ankle_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="left_ankle_roll_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="left_ankle_pitch_link" />
    <child link="left_ankle_roll_link" />
  </joint>
  <link name="waist_yaw_link">
    <inertial>
      <origin xyz="0.0035709653844972 -0.000298584324433874 0.296049150376585" rpy="0 0 0" />
      <mass value="11.2831176116852" />
      <inertia ixx="0.0481142136376359" ixy="5.79618773222184E-07" ixz="-1.98137969688278E-05" iyy="0.0366418106171156" iyz="7.91242771702937E-08" izz="0.0331576781412585" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/waist_yaw_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/waist_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="waist_yaw_joint" type="revolute">
    <origin xyz="0.0074336 0 0.095182" rpy="0 0 0" />
    <parent link="pelvis_link" />
    <child link="waist_yaw_link" />
    <axis xyz="0 0 1" />
    <limit lower="-1" upper="1" effort="48" velocity="20" />
  </joint>
  <link name="waist_roll_link">
    <inertial>
      <origin xyz="0.0667308294310171 3.29960583013206E-15 -5.55111512312578E-17" rpy="0 0 0" />
      <mass value="0.00214965536176707" />
      <inertia ixx="1.01967620398884E-08" ixy="-1.29364737944469E-21" ixz="-1.06096448175666E-24" iyy="4.0231962853032E-08" iyz="-2.84345754736973E-26" izz="4.0231962853032E-08" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/waist_roll_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.650980392156863 0.619607843137255 0.588235294117647 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/waist_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="waist_roll_joint" type="fixed">
    <origin xyz="0 0 0.1409" rpy="0 0 0" />
    <parent link="waist_yaw_link" />
    <child link="waist_roll_link" />
    <axis xyz="0 0 0" />
  </joint>
  <link name="torso_link">
    <inertial>
      <origin xyz="-0.0048564000 0.0002458000 0.3063041000" rpy="0 0 0" />
      <mass value="14.8426630000" />
      <inertia ixx="0.3971412000" ixy="-0.0001701000" ixz="0.0023413000" iyy="0.3512001000" iyz="-0.0003316000" izz="0.0940727000" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/torso_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.650980392156863 0.619607843137255 0.588235294117647 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/torso_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="torso_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="waist_roll_link" />
    <child link="torso_link" />
    <axis xyz="0 0 0" />
  </joint>
  <link name="right_shoulder_pitch_link">
    <inertial>
      <origin xyz="-0.0028568000 -0.0623820000 0.0004387000" rpy="0 0 0" />
      <mass value="1.5245380000" />
      <inertia ixx="0.0023690000" ixy="-0.0000349000" ixz="-0.0000026000" iyy="0.0014937000" iyz="-0.0000432000" izz="0.0020199000" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/right_shoulder_pitch_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/right_shoulder_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="right_shoulder_pitch_joint" type="revolute">
    <origin xyz="0 -0.1445 0.3245" rpy="0 0 0" />
    <parent link="torso_link" />
    <child link="right_shoulder_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-2" upper="2" effort="48" velocity="20" />
  </joint>
  <link name="right_shoulder_roll_link">
    <inertial>
      <origin xyz="0.0007453000 0.0000000000 -0.0881897000" rpy="0 0 0" />
      <mass value="0.8654299000" />
      <inertia ixx="0.0011463000" ixy="-0.0000000000" ixz="-0.0000697000" iyy="0.0013575000" iyz="-0.0000000000" izz="0.0009998000" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/right_shoulder_roll_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/right_shoulder_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="right_shoulder_roll_joint" type="revolute">
    <origin xyz="0.0010009 -0.07 0" rpy="0 0 0" />
    <parent link="right_shoulder_pitch_link" />
    <child link="right_shoulder_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-3" upper="0" effort="48" velocity="20" />
  </joint>
  <link name="right_shoulder_yaw_link">
    <inertial>
      <origin xyz="0.0003468000 -0.0009066000 -0.0791872000" rpy="0 0 0" />
      <mass value="0.7982005000" />
      <inertia ixx="0.0009473000" ixy="0.0000009000" ixz="-0.0000177000" iyy="0.0010952000" iyz="0.0000252000" izz="0.0005070000" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/right_shoulder_yaw_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/right_shoulder_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="right_shoulder_yaw_joint" type="revolute">
    <origin xyz="0 0 -0.1215" rpy="0 0 0" />
    <parent link="right_shoulder_roll_link" />
    <child link="right_shoulder_yaw_link" />
    <axis xyz="0 0 1" />
    <limit lower="-1.5" upper="0.5" effort="29" velocity="50" />
  </joint>
  <link name="right_elbow_link">
    <inertial>
      <origin xyz="0.0621387000 -0.0010585000 0.0000402000" rpy="0 0 0" />
      <mass value="0.4906514000" />
      <inertia ixx="0.0003081000" ixy="0.0000347000" ixz="-0.0000000000" iyy="0.0005350000" iyz="-0.0000001000" izz="0.0006289000" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/right_elbow_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/right_elbow_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="right_elbow_joint" type="revolute">
    <origin xyz="0 0 -0.0885" rpy="0 0 0" />
    <parent link="right_shoulder_yaw_link" />
    <child link="right_elbow_link" />
    <axis xyz="0 1 0" />
    <limit lower="0" upper="3" effort="29" velocity="50" />
  </joint>
  <link name="right_wrist_roll_link">
    <inertial>
      <origin xyz="0.0359235000 -0.0009063000 0.0000000000" rpy="0 0 0" />
      <mass value="0.3859330000" />
      <inertia ixx="0.0001840000" ixy="0.0000001000" ixz="-0.0000000000" iyy="0.0001897000" iyz="-0.0000000000" izz="0.0002135000" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/right_wrist_roll_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/right_wrist_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="right_wrist_roll_joint" type="revolute">
    <origin xyz="0.1005 0 0" rpy="0 0 0" />
    <parent link="right_elbow_link" />
    <child link="right_wrist_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-1" upper="1" effort="12" velocity="33" />
  </joint>
  <link name="right_wrist_yaw_link">
    <inertial>
      <origin xyz="0.0501840000 -0.0013350000 -0.0004280000" rpy="0 0 0" />
      <mass value="0.4976614000" />
      <inertia ixx="0.0003501000" ixy="-0.0000334000" ixz="0.0000031000" iyy="0.0004118000" iyz="-0.0000009000" izz="0.0004931000" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/right_wrist_yaw_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/right_wrist_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="right_wrist_yaw_joint" type="revolute">
    <origin xyz="0.0395 0 0" rpy="0 0 0" />
    <parent link="right_wrist_roll_link" />
    <child link="right_wrist_yaw_link" />
    <axis xyz="0 1 0" />
    <limit lower="-1" upper="1" effort="12" velocity="33" />
  </joint>
  <link name="right_wrist_pitch_link">
    <inertial>
      <origin xyz="0.0298449000 0.0000000000 0.0027489000" rpy="0 0 0" />
      <mass value="0.1018444000" />
      <inertia ixx="0.0000914000" ixy="-0.0000000000" ixz="0.0000084000" iyy="0.0001042000" iyz="-0.0000000000" izz="0.0000532000" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/right_wrist_pitch_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/right_wrist_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="right_wrist_pitch_joint" type="revolute">
    <origin xyz="0.06 0 0" rpy="0 0 0" />
    <parent link="right_wrist_yaw_link" />
    <child link="right_wrist_pitch_link" />
    <axis xyz="0 0 1" />
    <limit lower="-1" upper="1" effort="12" velocity="33" />
  </joint>
  <link name="left_shoulder_pitch_link">
    <inertial>
      <origin xyz="-0.0026398000 0.0624373000 0.0004355000" rpy="0 0 0" />
      <mass value="1.5356819000" />
      <inertia ixx="0.0023923000" ixy="0.0000324000" ixz="-0.0000025000" iyy="0.0015149000" iyz="0.0000432000" izz="0.0020418000" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/left_shoulder_pitch_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/left_shoulder_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="left_shoulder_pitch_joint" type="revolute">
    <origin xyz="0 0.1445 0.3245" rpy="0 0 0" />
    <parent link="torso_link" />
    <child link="left_shoulder_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-2" upper="2" effort="48" velocity="20" />
  </joint>
  <link name="left_shoulder_roll_link">
    <inertial>
      <origin xyz="0.0007453000 0.0000000000 -0.0881897000" rpy="0 0 0" />
      <mass value="0.8654299000" />
      <inertia ixx="0.0011463000" ixy="-0.0000000000" ixz="-0.0000697000" iyy="0.0013575000" iyz="-0.0000000000" izz="0.0009998000" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/left_shoulder_roll_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/left_shoulder_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="left_shoulder_roll_joint" type="revolute">
    <origin xyz="0.0010009 0.07 0" rpy="0 0 0" />
    <parent link="left_shoulder_pitch_link" />
    <child link="left_shoulder_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="0" upper="3" effort="48" velocity="20" />
  </joint>
  <link name="left_shoulder_yaw_link">
    <inertial>
      <origin xyz="0.0002680000 0.0009113000 -0.0792886000" rpy="0 0 0" />
      <mass value="0.7961240000" />
      <inertia ixx="0.0009454000" ixy="-0.0000010000" ixz="-0.0000153000" iyy="0.0010912000" iyz="-0.0000257000" izz="0.0005054000" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/left_shoulder_yaw_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/left_shoulder_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="left_shoulder_yaw_joint" type="revolute">
    <origin xyz="0 0 -0.1215" rpy="0 0 0" />
    <parent link="left_shoulder_roll_link" />
    <child link="left_shoulder_yaw_link" />
    <axis xyz="0 0 1" />
    <limit lower="-0.5" upper="1.5" effort="29" velocity="50" />
  </joint>
  <link name="left_elbow_link">
    <inertial>
      <origin xyz="0.0621474000 -0.0000660000 0.0000402000" rpy="0 0 0" />
      <mass value="0.4906514000" />
      <inertia ixx="0.0003081000" ixy="-0.0000346000" ixz="-0.0000000000" iyy="0.0005347000" iyz="0.0000001000" izz="0.0006286000" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/left_elbow_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/left_elbow_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="left_elbow_joint" type="revolute">
    <origin xyz="0 0.001125 -0.0885" rpy="0 0 0" />
    <parent link="left_shoulder_yaw_link" />
    <child link="left_elbow_link" />
    <axis xyz="0 1 0" />
    <limit lower="0" upper="3" effort="29" velocity="50" />
  </joint>
  <link name="left_wrist_roll_link">
    <inertial>
      <origin xyz="0.0359235000 0.0009063000 0.0000000000" rpy="0 0 0" />
      <mass value="0.3859330000" />
      <inertia ixx="0.0001840000" ixy="-0.0000001000" ixz="-0.0000000000" iyy="0.0001897000" iyz="-0.0000000000" izz="0.0002135000" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/left_wrist_roll_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/left_wrist_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="left_wrist_roll_joint" type="revolute">
    <origin xyz="0.1005 -0.001125 0" rpy="0 0 0" />
    <parent link="left_elbow_link" />
    <child link="left_wrist_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-1" upper="1" effort="12" velocity="33" />
  </joint>
  <link name="left_wrist_yaw_link">
    <inertial>
      <origin xyz="0.0501840000 0.0013350000 -0.0004280000" rpy="0 0 0" />
      <mass value="0.4976614000" />
      <inertia ixx="0.0003500000" ixy="0.0000336000" ixz="0.0000031000" iyy="0.0004118000" iyz="0.0000009000" izz="0.0004931000" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/left_wrist_yaw_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/left_wrist_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="left_wrist_yaw_joint" type="revolute">
    <origin xyz="0.0395 0 0" rpy="0 0 0" />
    <parent link="left_wrist_roll_link" />
    <child link="left_wrist_yaw_link" />
    <axis xyz="0 1 0" />
    <limit lower="-1" upper="1" effort="12" velocity="33" />
  </joint>
  <link name="left_wrist_pitch_link">
    <inertial>
      <origin xyz="0.0298449000 0.0000000000 0.0027489000" rpy="0 0 0" />
      <mass value="0.1018444000" />
      <inertia ixx="0.0000914000" ixy="-0.0000000000" ixz="0.0000084000" iyy="0.0001042000" iyz="-0.0000000000" izz="0.0000532000" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/left_wrist_pitch_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/left_wrist_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="left_wrist_pitch_joint" type="revolute">
    <origin xyz="0.06 0 0" rpy="0 0 0" />
    <parent link="left_wrist_yaw_link" />
    <child link="left_wrist_pitch_link" />
    <axis xyz="0 0 1" />
    <limit lower="-1" upper="1" effort="12" velocity="33" />
  </joint>
</robot>