<?xml version="1.0" encoding="utf-8"?>
<robot
  name="robot_001_5.13">
  <link
    name="pelvis_link">
    <inertial>
      <origin
        xyz="0.00503435300584382 0.000130091685336761 0.0225363840877667"
        rpy="0 0 0" />
      <mass
        value="4.70289624956364" />
      <inertia
        ixx="0.00511200306888546"
        ixy="6.96980741541993E-07"
        ixz="-8.27164046298907E-06"
        iyy="0.00664351657489338"
        iyz="5.17233411384481E-08"
        izz="0.00530054506824138" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/pelvis_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/pelvis_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="right_hip_pitch_link">
    <inertial>
      <origin
        xyz="0.00285129119638238 -0.0727066166898917 -0.0754979679751424"
        rpy="0 0 0" />
      <mass
        value="2.48267459163228" />
      <inertia
        ixx="0.00523005160130357"
        ixy="9.63207153275971E-05"
        ixz="2.17091554545719E-05"
        iyy="0.00331742083671671"
        iyz="-0.00041543806653496"
        izz="0.00278106603299452" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_hip_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_hip_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_hip_pitch_joint"
    type="revolute">
    <origin
      xyz="0.0074336 -0.11245 0.0042898"
      rpy="0.5236 0 0" />
    <parent
      link="pelvis_link" />
    <child
      link="right_hip_pitch_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1"
      upper="0.5"
      effort="96"
      velocity="15" />
  </joint>
  <link
    name="right_hip_roll_link">
    <inertial>
      <origin
        xyz="-0.0301141184048858 0.000142860171632869 -0.105938620209768"
        rpy="0 0 0" />
      <mass
        value="1.96012974792465" />
      <inertia
        ixx="0.00204447780564594"
        ixy="-4.61380570752958E-17"
        ixz="2.18332818277502E-05"
        iyy="0.00178744851001391"
        iyz="1.68180655707794E-06"
        izz="0.00255967107994714" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_hip_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_hip_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_hip_roll_joint"
    type="revolute">
    <origin
      xyz="0.0295 -0.07681 -0.080942"
      rpy="-0.5236 0 0" />
    <parent
      link="right_hip_pitch_link" />
    <child
      link="right_hip_roll_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.5"
      upper="0.5"
      effort="96"
      velocity="15" />
  </joint>
  <link
    name="right_hip_yaw_link">
    <inertial>
      <origin
        xyz="0.000137279805651471 0.00274028988395553 -0.0634716628194296"
        rpy="0 0 0" />
      <mass
        value="0.621436983311609" />
      <inertia
        ixx="0.00102005527811764"
        ixy="1.34547258614266E-07"
        ixz="-8.30489381941972E-07"
        iyy="0.0014070743923986"
        iyz="-1.01057647666195E-05"
        izz="0.000867861615423034" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_hip_yaw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_hip_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_hip_yaw_joint"
    type="revolute">
    <origin
      xyz="-0.0295 0 -0.1463"
      rpy="0 0 0" />
    <parent
      link="right_hip_roll_link" />
    <child
      link="right_hip_yaw_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.5"
      upper="0.5"
      effort="48"
      velocity="20" />
  </joint>
  <link
    name="right_knee_link">
    <inertial>
      <origin
        xyz="-0.00361504517044163 0.0336608150403406 -0.125576050645182"
        rpy="0 0 0" />
      <mass
        value="5.87316968990693" />
      <inertia
        ixx="0.0158521100841701"
        ixy="1.17997702929187E-07"
        ixz="1.97925499053708E-06"
        iyy="0.0198568405862855"
        iyz="2.33213088380595E-05"
        izz="0.00548706823858254" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_knee_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_knee_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_knee_joint"
    type="revolute">
    <origin
      xyz="0 -0.032 -0.12269"
      rpy="0 0 0" />
    <parent
      link="right_hip_yaw_link" />
    <child
      link="right_knee_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.5"
      upper="1"
      effort="96"
      velocity="15" />
  </joint>
  <link
    name="right_ankle_pitch_link">
    <inertial>
      <origin
        xyz="5.36440859094656E-09 -5.36441296938861E-09 0"
        rpy="0 0 0" />
      <mass
        value="0.148192052008453" />
      <inertia
        ixx="2.72645018821237E-05"
        ixy="-4.3518227244755E-18"
        ixz="-2.14407802357547E-12"
        iyy="2.72645018821237E-05"
        iyz="-2.14407801861077E-12"
        izz="4.85401116241572E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_ankle_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.776470588235294 0.756862745098039 0.737254901960784 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_ankle_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_ankle_pitch_joint"
    type="revolute">
    <origin
      xyz="2.2927E-05 0.035 -0.4435"
      rpy="0 0 0" />
    <parent
      link="right_knee_link" />
    <child
      link="right_ankle_pitch_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.5"
      upper="0.5"
      effort="29"
      velocity="50" />
  </joint>
  <link
    name="right_ankle_roll_link">
    <inertial>
      <origin
        xyz="0.0108300286164233 3.95143336967552E-07 -0.0440508527934579"
        rpy="0 0 0" />
      <mass
        value="0.628810724195756" />
      <inertia
        ixx="0.00023868188983229"
        ixy="-2.31497487690651E-09"
        ixz="4.46313989201861E-05"
        iyy="0.00166786907254219"
        iyz="-8.28639116404161E-11"
        izz="0.00180176012846238" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_ankle_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.866666666666667 0.909803921568627 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_ankle_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_ankle_roll_joint"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="right_ankle_pitch_link" />
    <child
      link="right_ankle_roll_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.5"
      upper="0.5"
      effort="29"
      velocity="50" />
  </joint>
  <link
    name="left_hip_pitch_link">
    <inertial>
      <origin
        xyz="0.00310362811524561 0.072734152594447 -0.0753029702758803"
        rpy="0 0 0" />
      <mass
        value="2.47697310632434" />
      <inertia
        ixx="0.00523066234854217"
        ixy="-9.62719713986644E-05"
        ixz="2.16189782686242E-05"
        iyy="0.00331481795577702"
        iyz="0.000415659377021273"
        izz="0.00277987024733207" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_hip_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_hip_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_hip_pitch_joint"
    type="revolute">
    <origin
      xyz="0.0074336 0.11245 0.0042898"
      rpy="-0.5236 0 0" />
    <parent
      link="pelvis_link" />
    <child
      link="left_hip_pitch_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1"
      upper="0.5"
      effort="96"
      velocity="15" />
  </joint>
  <link
    name="left_hip_roll_link">
    <inertial>
      <origin
        xyz="-0.0301141184048871 0.000142860171640585 -0.105938620209771"
        rpy="0 0 0" />
      <mass
        value="1.96012974792464" />
      <inertia
        ixx="0.00204447780564592"
        ixy="-3.49166510816761E-17"
        ixz="2.18332818277459E-05"
        iyy="0.00178744851001388"
        iyz="1.68180655708015E-06"
        izz="0.00255967107994714" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_hip_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_hip_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_hip_roll_joint"
    type="revolute">
    <origin
      xyz="0.0295 0.07681 -0.080942"
      rpy="0.5236 0 0" />
    <parent
      link="left_hip_pitch_link" />
    <child
      link="left_hip_roll_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.5"
      upper="0.5"
      effort="96"
      velocity="15" />
  </joint>
  <link
    name="left_hip_yaw_link">
    <inertial>
      <origin
        xyz="0.00013727980565015 -0.00274028988394642 -0.0634716628194329"
        rpy="0 0 0" />
      <mass
        value="0.621436983311609" />
      <inertia
        ixx="0.00102005527811764"
        ixy="-1.34552514246274E-07"
        ixz="-8.30489381940506E-07"
        iyy="0.0014070743923986"
        iyz="1.01057647666193E-05"
        izz="0.000867861615423029" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_hip_yaw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_hip_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_hip_yaw_joint"
    type="revolute">
    <origin
      xyz="-0.0295 0 -0.1463"
      rpy="0 0 0" />
    <parent
      link="left_hip_roll_link" />
    <child
      link="left_hip_yaw_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.5"
      upper="0.5"
      effort="48"
      velocity="20" />
  </joint>
  <link
    name="left_knee_link">
    <inertial>
      <origin
        xyz="-0.00332242411815993 -0.0357861937104867 -0.126538875462268"
        rpy="0 0 0" />
      <mass
        value="5.87791743724939" />
      <inertia
        ixx="0.0158588152917759"
        ixy="1.95358385312144E-07"
        ixz="-3.30015343544481E-06"
        iyy="0.0198571037522354"
        iyz="-2.34508897785242E-05"
        izz="0.00548848335626586" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_knee_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_knee_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_knee_joint"
    type="revolute">
    <origin
      xyz="0 0.034125 -0.1227"
      rpy="0 0 0" />
    <parent
      link="left_hip_yaw_link" />
    <child
      link="left_knee_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.5"
      upper="1"
      effort="96"
      velocity="15" />
  </joint>
  <link
    name="left_ankle_pitch_link">
    <inertial>
      <origin
        xyz="5.3644110698664E-09 -5.36440403209326E-09 -5.10702591327572E-15"
        rpy="0 0 0" />
      <mass
        value="0.148192052008452" />
      <inertia
        ixx="2.72645018821241E-05"
        ixy="-4.95022567956485E-18"
        ixz="3.68379799081697E-12"
        iyy="2.72645018821237E-05"
        iyz="-2.14407803129518E-12"
        izz="4.85401116241568E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_ankle_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.776470588235294 0.756862745098039 0.737254901960784 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_ankle_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_ankle_pitch_joint"
    type="revolute">
    <origin
      xyz="0 -0.036877 -0.4435"
      rpy="0 0 0" />
    <parent
      link="left_knee_link" />
    <child
      link="left_ankle_pitch_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.5"
      upper="0.5"
      effort="29"
      velocity="50" />
  </joint>
  <link
    name="left_ankle_roll_link">
    <inertial>
      <origin
        xyz="0.0108300903943258 3.71983622543537E-07 -0.0440508628230675"
        rpy="0 0 0" />
      <mass
        value="0.628809368317477" />
      <inertia
        ixx="0.000238681344687388"
        ixy="-2.59410795871837E-09"
        ixz="4.46316707225686E-05"
        iyy="0.00166786595926588"
        iyz="2.01676680875087E-10"
        izz="0.00180175682124224" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_ankle_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.866666666666667 0.909803921568627 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_ankle_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_ankle_roll_joint"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="left_ankle_pitch_link" />
    <child
      link="left_ankle_roll_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.5"
      upper="0.5"
      effort="29"
      velocity="50" />
  </joint>
  <link
    name="waist_yaw_link">
    <inertial>
      <origin
        xyz="0.0081349 -0.0002482 0.28341"
        rpy="0 0 0" />
      <mass
        value="14.864" />
      <inertia
        ixx="0.065285"
        ixy="1.802E-07"
        ixz="-2.1435E-05"
        iyy="0.048111"
        iyz="-2.965E-06"
        izz="0.044658" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/waist_yaw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/waist_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="waist_yaw_joint"
    type="revolute">
    <origin
      xyz="0.0074336 0 0.095182"
      rpy="0 0 0" />
    <parent
      link="pelvis_link" />
    <child
      link="waist_yaw_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1"
      upper="1"
      effort="48"
      velocity="20" />
  </joint>
  <link
    name="waist_roll_link">
    <inertial>
      <origin
        xyz="0.066731 3.3018E-15 -2.7756E-17"
        rpy="0 0 0" />
      <mass
        value="0.0021497" />
      <inertia
        ixx="1.0197E-08"
        ixy="-1.2936E-21"
        ixz="-1.051E-24"
        iyy="4.0232E-08"
        iyz="-3.7414E-26"
        izz="4.0232E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/waist_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.65098 0.61961 0.58824 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/waist_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="waist_roll_joint"
    type="fixed">
    <origin
      xyz="0 0 0.1409"
      rpy="0 0 0" />
    <parent
      link="waist_yaw_link" />
    <child
      link="waist_roll_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="torso_link">
    <inertial>
      <origin
        xyz="3.4694E-18 4.4474E-16 -0.052769"
        rpy="0 0 0" />
      <mass
        value="0.0021497" />
      <inertia
        ixx="4.0232E-08"
        ixy="-1.9197E-25"
        ixz="-4.383E-24"
        iyy="4.0232E-08"
        iyz="-2.9609E-24"
        izz="1.0197E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/torso_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.65098 0.61961 0.58824 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/torso_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="torso_joint"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="waist_roll_link" />
    <child
      link="torso_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="right_shoulder_pitch_link">
    <inertial>
      <origin
        xyz="-0.000798454862446965 -0.0186267320133233 0.000172014559779332"
        rpy="0 0 0" />
      <mass
        value="2.557415922292" />
      <inertia
        ixx="0.00251787238880613"
        ixy="-3.98399648261744E-05"
        ixz="-8.75097164936941E-06"
        iyy="0.00226021310132475"
        iyz="-4.34003099314574E-07"
        izz="0.00213354121117127" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_shoulder_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_shoulder_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_shoulder_pitch_joint"
    type="revolute">
    <origin
      xyz="0 -0.1445 0.3245"
      rpy="0 0 0" />
    <parent
      link="torso_link" />
    <child
      link="right_shoulder_pitch_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-2"
      upper="2"
      effort="48"
      velocity="20" />
  </joint>
  <link
    name="right_shoulder_roll_link">
    <inertial>
      <origin
        xyz="0.000742773549497824 -6.88492984846079E-10 -0.0878534433796319"
        rpy="0 0 0" />
      <mass
        value="0.876778257234122" />
      <inertia
        ixx="0.000939092981872174"
        ixy="1.42928734804969E-10"
        ixz="6.12116516802497E-06"
        iyy="0.000808336288426944"
        iyz="1.39197144430834E-10"
        izz="0.000676517611165178" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_shoulder_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_shoulder_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_shoulder_roll_joint"
    type="revolute">
    <origin
      xyz="0.0010009 -0.07 0"
      rpy="0 0 0" />
    <parent
      link="right_shoulder_pitch_link" />
    <child
      link="right_shoulder_roll_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-3"
      upper="0"
      effort="48"
      velocity="20" />
  </joint>
  <link
    name="right_shoulder_yaw_link">
    <inertial>
      <origin
        xyz="0.000341924545384053 -0.000416810080107272 -0.0793254292458573"
        rpy="0 0 0" />
      <mass
        value="0.809549280393054" />
      <inertia
        ixx="0.000566902459027398"
        ixy="-5.55058201418281E-08"
        ixz="7.35587676602279E-09"
        iyy="0.000757869851043402"
        iyz="-1.76738501032134E-05"
        izz="0.000464878313868628" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_shoulder_yaw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_shoulder_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_shoulder_yaw_joint"
    type="revolute">
    <origin
      xyz="0 0 -0.1215"
      rpy="0 0 0" />
    <parent
      link="right_shoulder_roll_link" />
    <child
      link="right_shoulder_yaw_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.5"
      upper="0.5"
      effort="29"
      velocity="50" />
  </joint>
  <link
    name="right_elbow_link">
    <inertial>
      <origin
        xyz="0.0618500271203231 -0.00104503825565588 4.02941918566935E-05"
        rpy="0 0 0" />
      <mass
        value="0.49696967709535" />
      <inertia
        ixx="0.000229252522998782"
        ixy="-2.01759126576305E-05"
        ixz="-4.8002080652133E-10"
        iyy="0.00035452318609941"
        iyz="-4.00572794012509E-09"
        izz="0.000364722059626315" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_elbow_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_elbow_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_elbow_joint"
    type="revolute">
    <origin
      xyz="0 0 -0.0885"
      rpy="0 0 0" />
    <parent
      link="right_shoulder_yaw_link" />
    <child
      link="right_elbow_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="3"
      effort="29"
      velocity="50" />
  </joint>
  <link
    name="right_wrist_roll_link">
    <inertial>
      <origin
        xyz="0.035981134057486 -0.00144843525702879 2.88316998331428E-07"
        rpy="0 0 0" />
      <mass
        value="0.392251006519422" />
      <inertia
        ixx="0.000180559758504961"
        ixy="4.35660485193546E-06"
        ixz="-3.36810332032627E-09"
        iyy="0.000174484796637273"
        iyz="1.91507049300479E-09"
        izz="0.000189873917985515" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_wrist_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_wrist_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_wrist_roll_joint"
    type="revolute">
    <origin
      xyz="0.1005 0 0"
      rpy="0 0 0" />
    <parent
      link="right_elbow_link" />
    <child
      link="right_wrist_roll_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-1"
      upper="1"
      effort="12"
      velocity="33" />
  </joint>
  <link
    name="right_wrist_yaw_link">
    <inertial>
      <origin
        xyz="0.0503071065067196 -0.00131818268970582 -0.000855966439850031"
        rpy="0 0 0" />
      <mass
        value="0.503978452246218" />
      <inertia
        ixx="0.000240883222993929"
        ixy="1.72620562397726E-06"
        ixz="-2.27315734897899E-06"
        iyy="0.000266549419294996"
        iyz="3.17381809631376E-05"
        izz="0.000289003208792159" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_wrist_yaw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_wrist_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_wrist_yaw_joint"
    type="revolute">
    <origin
      xyz="0.0395 0 0"
      rpy="0 0 0" />
    <parent
      link="right_wrist_roll_link" />
    <child
      link="right_wrist_yaw_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1"
      upper="1"
      effort="12"
      velocity="33" />
  </joint>
  <link
    name="right_wrist_pitch_link">
    <inertial>
      <origin
        xyz="0.0298448602761041 1.73847683471173E-09 0.00274885779249323"
        rpy="0 0 0" />
      <mass
        value="0.10184435029256" />
      <inertia
        ixx="4.19087667528684E-05"
        ixy="-1.77111914723418E-12"
        ixz="-3.9664174492412E-07"
        iyy="3.48765764150623E-05"
        iyz="5.75221979112865E-13"
        izz="3.32834640951265E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_wrist_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_wrist_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_wrist_pitch_joint"
    type="revolute">
    <origin
      xyz="0.06 0 0"
      rpy="0 0 0" />
    <parent
      link="right_wrist_yaw_link" />
    <child
      link="right_wrist_pitch_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1"
      upper="1"
      effort="12"
      velocity="33" />
  </joint>
  <link
    name="left_shoulder_pitch_link">
    <inertial>
      <origin
        xyz="-0.000608070813116562 0.0188496181963454 0.000365898923127272"
        rpy="0 0 0" />
      <mass
        value="2.56855978342051" />
      <inertia
        ixx="0.00255027278599118"
        ixy="4.097816930948E-05"
        ixz="3.1801920683668E-06"
        iyy="0.00227153044564909"
        iyz="3.61858235700362E-06"
        izz="0.00213508113646976" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_shoulder_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_shoulder_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_shoulder_pitch_joint"
    type="revolute">
    <origin
      xyz="0 0.1445 0.3245"
      rpy="0 0 0" />
    <parent
      link="torso_link" />
    <child
      link="left_shoulder_pitch_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-2"
      upper="2"
      effort="48"
      velocity="20" />
  </joint>
  <link
    name="left_shoulder_roll_link">
    <inertial>
      <origin
        xyz="0.000742773549436537 -6.88482382216193E-10 -0.087853443379631"
        rpy="0 0 0" />
      <mass
        value="0.876778257234122" />
      <inertia
        ixx="0.00093909298187217"
        ixy="1.42928734799859E-10"
        ixz="6.12116516802555E-06"
        iyy="0.000808336288426939"
        iyz="1.39197144516444E-10"
        izz="0.000676517611165177" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_shoulder_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_shoulder_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_shoulder_roll_joint"
    type="revolute">
    <origin
      xyz="0.0010009 0.07 0"
      rpy="0 0 0" />
    <parent
      link="left_shoulder_pitch_link" />
    <child
      link="left_shoulder_roll_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="3"
      effort="48"
      velocity="20" />
  </joint>
  <link
    name="left_shoulder_yaw_link">
    <inertial>
      <origin
        xyz="0.000264216422546416 0.000420100291503051 -0.0794257229684553"
        rpy="0 0 0" />
      <mass
        value="0.807472782674237" />
      <inertia
        ixx="0.000569427624381018"
        ixy="1.09950354834769E-06"
        ixz="-4.22160501454869E-06"
        iyy="0.000766587089167187"
        iyz="1.83080034070865E-05"
        izz="0.000471793067553262" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_shoulder_yaw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_shoulder_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_shoulder_yaw_joint"
    type="revolute">
    <origin
      xyz="0 0 -0.1215"
      rpy="0 0 0" />
    <parent
      link="left_shoulder_roll_link" />
    <child
      link="left_shoulder_yaw_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.5"
      upper="1.5"
      effort="29"
      velocity="50" />
  </joint>
  <link
    name="left_elbow_link">
    <inertial>
      <origin
        xyz="0.0618586350507468 -7.95089621811185E-05 4.02941918573596E-05"
        rpy="0 0 0" />
      <mass
        value="0.49696967709535" />
      <inertia
        ixx="0.000229252522998779"
        ixy="2.0179791808332E-05"
        ixz="-4.80020806365817E-10"
        iyy="0.000354523186099413"
        iyz="3.30474736384931E-08"
        izz="0.000364722059626315" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_elbow_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_elbow_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_elbow_joint"
    type="revolute">
    <origin
      xyz="0 0.001125 -0.0885"
      rpy="0 0 0" />
    <parent
      link="left_shoulder_yaw_link" />
    <child
      link="left_elbow_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="3"
      effort="29"
      velocity="50" />
  </joint>
  <link
    name="left_wrist_roll_link">
    <inertial>
      <origin
        xyz="0.0359811341904136 0.00144843268703204 2.88159286154777E-07"
        rpy="0 0 0" />
      <mass
        value="0.392251016612345" />
      <inertia
        ixx="0.000180559774583689"
        ixy="-4.35660826965979E-06"
        ixz="-3.240963585276E-08"
        iyy="0.000174484797458859"
        iyz="-1.92473848099361E-09"
        izz="0.000189873933520304" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_wrist_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_wrist_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_wrist_roll_joint"
    type="revolute">
    <origin
      xyz="0.1005 -0.001125 0"
      rpy="0 0 0" />
    <parent
      link="left_elbow_link" />
    <child
      link="left_wrist_roll_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-1"
      upper="1"
      effort="12"
      velocity="33" />
  </joint>
  <link
    name="left_wrist_yaw_link">
    <inertial>
      <origin
        xyz="0.0503071637816448 0.00131819023779328 -0.000855966438387812"
        rpy="0 0 0" />
      <mass
        value="0.503978452501076" />
      <inertia
        ixx="0.000240841879060495"
        ixy="-1.57191725864259E-06"
        ixz="-2.27265827190662E-06"
        iyy="0.000266590762031731"
        iyz="-3.1738114024289E-05"
        izz="0.000289003207625855" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_wrist_yaw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_wrist_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_wrist_yaw_joint"
    type="revolute">
    <origin
      xyz="0.0395 0 0"
      rpy="0 0 0" />
    <parent
      link="left_wrist_roll_link" />
    <child
      link="left_wrist_yaw_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1"
      upper="1"
      effort="12"
      velocity="33" />
  </joint>
  <link
    name="left_wrist_pitch_link">
    <inertial>
      <origin
        xyz="0.0298448602760438 1.73848174744862E-09 0.00274885779249401"
        rpy="0 0 0" />
      <mass
        value="0.10184435029256" />
      <inertia
        ixx="4.19087667528684E-05"
        ixy="-1.77111915189121E-12"
        ixz="-3.9664174492412E-07"
        iyy="3.48765764150622E-05"
        iyz="5.75221968026734E-13"
        izz="3.32834640951264E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_wrist_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_wrist_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_wrist_pitch_joint"
    type="revolute">
    <origin
      xyz="0.06 0 0"
      rpy="0 0 0" />
    <parent
      link="left_wrist_yaw_link" />
    <child
      link="left_wrist_pitch_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1"
      upper="1"
      effort="12"
      velocity="33" />
  </joint>
</robot>